#titleCard {
  text-align: center;
  background-image: linear-gradient(
    to left,
    green,
    rgb(60, 126, 0),
    rgb(212, 78, 0)
  );
  font-size: 4vw;
}

#list {
  background-image: linear-gradient(to top left, red, green);
}

.listFlex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 10px;
  font-size: 3vw;
}

.listFlex * {
  max-width: 50rem;
  border: 5px rgb(184, 104, 6) solid;
  background-color: rgb(187, 67, 23);
  text-align: center;
  margin: 5px;
}

.listFig {
  width: auto;
  max-width: 30vw;
  height: auto;
}

.listImg {
  max-width: 80%;
}
